/*General Styles*/
body {
    background-color: #3AAFA9;
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Mono', monospace;
    color: #DEF2F1;
}

.normalText {
    font-weight: 600;
}

.normalTitle {
    font-family: 'Azeret Mono', monospace;
    font-weight: 400;
    font-size: 2.5rem;
}

.image {
    height: 20rem;
    width: auto;
    border-radius: 100%;
    border-color: #2B7A78;
    border-width: 6px;
    border-style: solid;
}

.rightAlign {
    text-align: right;
}

.sectionStyles {
    padding: 3rem;
    text-align: center;
}


/*Header Section*/
#Header {
    width: auto;
    padding: 20px;
    margin: 0;
    background-color: #3AAFA9;
    box-shadow: 0px 0px 3px 3px #2b8f8a;
    width: 100%;
    position: fixed;
}

#headerTitle {
    margin: 0;
    font-size: 2rem;
}

#linkDiv {
    padding-right: 5rem;
}

.linkText {
    font-size: 1.2rem;
    text-decoration: unset;
    margin-right: 2.5rem;
}


/*About Section*/
#aboutMe {
    text-align: center;
}   

#titleContainer {
    text-align: left;
    padding: 14rem 8rem 0 8rem;
}

#mainTitle {
    font-size: 3rem;
    font-family: 'Azeret Mono', monospace;
    font-weight: 400;
}

#aboutImgContainer {
    text-align: center;
    padding: 12rem 0;
}


/*Skills section*/
#skillsSection {
    background-color: #2B7A78;
}


/*Projects Section (no specific styles here)*/

/*Schools Section*/


/*Footer Section*/
