/*General Styles*/
html {
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #3AAFA9;
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Mono', monospace;
    color: #DEF2F1;
}

section {
    width: 100%;
}

.normalText {
    font-weight: 600;
}

.normalTitle {
    font-family: 'Azeret Mono', monospace;
    font-weight: 400;
    font-size: 2.5rem;
}

.mainImage {
    height: 20rem;
    width: auto;
    border-radius: 100%;
    border-color: #2B7A78;
    border-width: 6px;
    border-style: solid;
}

.normalImage {
    height: 13rem;
    width: auto;

}

.schoolImage {
    border-color: #3AAFA9;
    border-width: 6px;
    border-style: solid;
    margin: 1rem;
}

.rightAlign {
    text-align: right;
}

.sectionStyles {
    padding: 8rem 3rem;
    text-align: center;
}

.bigTitle {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.center {
    margin: auto;
}

.darkSection {
    background-color: #2B7A78;
}


/*Header Section*/
#Header {
    width: auto;
    padding: 20px;
    margin: 0;
    background-color: #3AAFA9;
    box-shadow: 0px 0px 3px 3px #2b8f8a;
    width: 100%;
    position: fixed;
}

#headerTitle {
    margin: 0;
    font-size: 2rem;
}

#linkDiv {
    padding-right: 5rem;
}

.linkText {
    font-size: 1.2rem;
    text-decoration: unset;
    margin-right: 2.5rem;
}


/*About Section*/
#aboutMe {
    padding: 12rem 5%;
    text-align: left;
}   


#mainTitle {
    line-height: 3.5rem;
}


/*Skills section*/
#skillsSection {
    background-color: #17252A;
}  


/*Projects Section*/


/*Schools Section*/
#schoolSection {
    padding: 8rem 5%;
}


/*Footer Section*/
#footerSection {
    text-align: center;
    padding: 1rem 2rem;
    background-color: #17252A;
}


/*Responsive Styles*/
@media (max-width:960px) {
    .smRespHide {
        display: none;
    }
    .RespCenter {
        text-align: center;
    }
    #aboutMe {
        text-align: center;
    }
    .respProjectsPadding {
        padding: 1rem 20%;
    }
}

@media (min-width:980px) {
    .lgRespHide {
        display: none;
    }
}

@media (max-width:460px) {
    .bigTitle {
        font-size: 2.7rem;
    }
}